
#container {
    max-width: 768px;
    margin: 5px auto;
    color: #92817a;
    position: relative;
}

h1 {
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

input[type='text'], input[type='number'] {
    background: none;
    border: none;
    border-bottom: solid 2px;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 18px;
    }
    input[type='text'], input[type='number'] {
        font-size: 0.875em;
    }
}












