.header {
    overflow: hidden;
    padding: 20px 10px;

}

body {
    background-color: #fbf7f0;
}

.header a, input[type=submit] {
    float: left;
    color: #92817a;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

}

.header, a.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo a:hover {
    color: #555555;
}

.header-right {
    float: right;
}

footer {
    text-align: center;
    padding: 3px;
    color: #92817a;
    position: fixed;
    left: 40%;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .header a, input[type=submit] {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right, input[type=submit] {
        float: none;
    }
}